<!DOCTYPE html>
<html>
<head>
    <title>Scan de Portas</title>
</head>
<body>
    <h1>Digite os dados para o scan</h1>
    <form action="/opcao4" method="post">
        <label for="host">Host:</label>
        <input type="text" id="host" name="host" required>
        <br>
        <label for="ports">Portas (ex: 23 ou 23,27,1000 ou 23-999):</label>
        <input type="text" id="ports" name="ports" required>
        <br>
        <input type="submit" value="Executar Scan">
    </form>
</body>
</html>

